
navbar{
    width: 90%;
    height: 100vh;
position: fixed;
}
pic{
  width: 200px;
}
h3,h1,h2{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
form{
margin: 5%;
  padding: 20px;
  border: 1px solid sandybrown;
 
}
img{
width: 95%;
}
